# iOS CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ios-migrating-from-1-2/ for more details
#
version: 2
jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "9.0"

    steps:
      - checkout

      # Install CocoaPods
      - run:
          name: Carthage Update
          command: carthage update --platform iOS

      # Build the app and run tests
      - run:
          name: Preparing Tests
          command: echo "preparing execution"
          environment:
            SCAN_DEVICE: iPhone 6

      - run:
          name: Run Tests
          command: xcodebuild -project XCTestWD.xcodeproj \
                              -scheme XCTestWDUnitTest \
                              -destination 'platform=iOS Simulator,name=iPhone 6' \
                              test

      # Collect XML test results data to show in the UI,
      # and save the same XML files under test-results folder
      # in the Artifacts tab
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: /tmp/test-results
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs
